
:root{
    --cor-de-fundo:lightblue;
}

.cabecalho-img{
    display: flex;
    justify-content: center;
  
}

.cabecalho-texto{
    display: flex;
    justify-content: center;
  
}

body{
    background-color: var(--cor-de-fundo);
}