
:root{
    --cor-de-fundo:lightblue;
    --cor-df-2:rgb(125, 209, 236);
}

.cabecalho{
   
}

.cadeado{
    width: 50px;
    
}

body{
    background-color: var(--cor-de-fundo);
    text-align: center;
}