@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.img1
{
height: 50px;
width: 45px;
}
body
{
background-color: rgb(1, 97, 49);
text-align: center;
}
.texto1
{
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: whitesmoke;
}
.label1
{
color: white;
font-size: xx-large;
}
.conteudo-senha
{
background-color:rgb(0, 138, 92);
width: 700px;
height: 150px;
margin: auto;
border-radius: 6px;
border-bottom: solid rgb(0, 236, 165);
}
.label
{
    color: white;
    font-size: x-large;
    
}
.config-senha
{
background-color: rgb(3, 167, 88);
width: 1200px;
height: 350px;
margin: auto;
border-radius: 6px;
}
.check
{
align-items: center;
}
.texto2
{
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: whitesmoke;
    font-size: xx-large;
}
.column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  .texto3
  {
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: whitesmoke;
    font-size: large;
  }
  .texto4{
    font-family: "REM", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: whitesmoke;
    font-size: x-large;
    text-align: left;
  }
  .input-senha
  {
background-color: rgb(0, 133, 77);
border-color: rgb(7, 211, 143);
color: white;
width: 500px;

  }